.DashboardPanelRandomImage--ratio .uk-card-body {
  display: flex;
}

.DashboardPanelRandomImage--ratio .ratio-wrapper {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DashboardPanelRandomImage--ratio .ratio-container {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

.DashboardPanelRandomImage--ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.DashboardPanelRandomImage--cover img {
  object-fit: cover;
}
